/**
 * HEADER
 *
 * @format
 */

/**  header fonts  */
h1 {
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 116px;
}

h2 {
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 80px;
}

h3 {
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 80px;
}

h4 {
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
}

h5 {
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 51px;
}

p {
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
}
/**  website margins  */
.foto-vr {
	width: 100%;
}
body {
	font-family: Arial, sans-serif;
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}

/*navigation*/

.lijntje {
	width: 100%;
	height: 1px;
	background-color: black;
	margin: 2px 0;
}

nav {
	background-color: white;
	padding: 10px;
	display: flex;
	align-items: center;
}

.logo {
	width: 15%; /* Adjust the width to 100% of its container */
	max-width: 500px; /* Optional: Set a max width to prevent it from becoming too large */
	height: auto; /* Keep the aspect ratio */
	margin-left: 50px;
}

/* Styles for the navigation links */
nav ul {
	list-style-type: none;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
	display: flex;
	flex-grow: 1;
	justify-content: space-between; /* Distribute space between the items */
	align-items: center;
	border-radius: 25px;
}

nav ul li a {
	color: black;
	text-decoration: none;
	padding: 14px 20px;
}

nav ul li a:hover {
	color: rgb(255, 0, 17);
}

/* FOOTER */
.footer-1 {
	height: 200px; /* Set the height of the footer */
	background-color: #ff0011; /* Optional: Set a background color */
	width: 100%; /* Ensure the footer spans the full width of the viewport */
	position: relative; /* Position relative to the document flow */
	padding-top: 20px;
}

.whitespace {
	color: pink;
	height: 200px;
	margin-bottom: 200px;
}

.tekst-footer {
	color: white;
	margin-left: 20px;
	margin-top: -50px;
}
.insta-logo {
	width: 2%; /* Adjust the width to 100% of its container */
	max-width: 100px; /* Optional: Set a max width to prevent it from becoming too large */
	height: auto; /* Keep the aspect ratio */
}

.tiktok-logo {
	width: 2%; /* Adjust the width to 100% of its container */
	max-width: 100px; /* Optional: Set a max width to prevent it from becoming too large */
	height: auto; /* Keep the aspect ratio */
}
.tekst-footer p {
	margin-bottom: 0%;
}
/*-------------------------------------------------------------------------- */

/*index.html*/

.foto-vr {
	position: relative;
	display: inline-block; /* Adjust as needed */
}

#rectangle {
	width: 200px;
	height: 100px;
	background: rgb(255, 0, 0);
	opacity: 70%;
	margin-top: -34%;
	margin-left: %;
}
.vrbril-homepage {
	display: block; /* Remove extra space below image */
	width: 100%; /* Adjust as needed */
	height: auto; /* Maintain aspect ratio */
}

/* Overlay text styling */
.overlay-text {
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	color: white; /* Text color */
	font-size: 24px; /* Adjust as needed */
	font-weight: bold; /* Optional: make text bold */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add shadow for better readability */
	text-align: left; /* Center align text */
	padding: 10px; /* Optional: add padding around text */
	box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
	margin-right: 20px;
	padding-right: 100px;
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 116px;
}

.text-homepage {
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 50px;
}

.text-homepage p {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}

.labos-mainblok p {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
}

.labo-titel {
	text-align: center;
	margin: 0;
}

.labos-blok1 {
	text-align: center;
}

.labos-mainblok {
	display: flex; /* Enables flexbox layout */
	justify-content: space-around; /* Distributes space evenly between items */
	align-items: center; /* Aligns items vertically in the center */
	flex-wrap: wrap; /* Allows items to wrap to the next line if there's not enough space */
}

.labos-blok1 {
	flex: 1; /* Allows items to grow and shrink equally */
	margin: 10px; /* Adds spacing between items */
	text-align: center; /* Centers the text and images inside each block */
}

.knop-homepage {
	background-color: #ff0011;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 30px 100px;
	cursor: pointer;

	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 50px;
}

.labos-blok1 p {
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 28px;
}

.background-color-index {
	background-color: #f5f5f5;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-bottom: 80px;
}

.blok1 {
	display: flex;
}
.space1,
.space2 {
	flex: 1;
}

.space1 {
	margin-left: 50px;
}

.space2 {
	margin-left: 20px;
}

.blok-openingsuren h2 {
	text-align: center;
}

.blok2 {
	display: flex;
}
.room1,
.room2 {
	flex: 1;
}

.room2 {
	margin-right: 70px;
}

.room1 {
	margin-left: 50px;
}

.blok1,
.blok2 {
	margin-bottom: 50px;
}

/**************************************************************/
/*medialab.html*/

.buttons-row-medialab {
	align-self: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

.buttons-row-medialab {
	display: flex;
	justify-content: center;
}

.buttons-row-medialab button {
	margin: 0 100px; /* 50px total spacing between buttons (25px on each side) */
}

.Medialab-toggle {
	background-color: #e30613;
	color: white;
	border-radius: 15px;
	border: none;
	padding: 30px 100px;
	cursor: pointer;

	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 50px;
}

.Medialab-untoggle {
	background-color: white;
	color: #ff0011;
	border: 5px solid #ff0011;
	border-radius: 15px;
	padding: 30px 100px;
	cursor: pointer;

	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 50px;
}

.text-blok-medialab-backgroundcolor {
	background-color: #f5f5f5;
}
.text-blok-medialab {
	display: flex;
	margin-left: 80px;
}

.text-blok-medialab1,
.text-blok-medialab2 {
	flex: 1;
}

.text-blok-medialab2 {
	margin-top: 200px;
}

.text-blok-medialab1 p {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}

.text-blok-medialab1 p {
	margin-right: 30px;
}

.medialab-pagina-foto-klein {
	max-width: 90%; /* Scales the image to fit within its container */
	height: auto; /* Maintains the aspect ratio */
}

.row1-machinepark {
	display: flex;
	margin-bottom: 100px;
}

.Machinepark-blok {
	margin-right: 20px; /* Optional: adds space between the blocks */
}

.Machinepark-blok {
	display: flex;
	flex-direction: column; /* Stack items vertically */
	align-items: center; /* Center items horizontally */
}

.Machinepark-untoggle {
	background-color: white;
	color: #ff0011;
	border: 5px solid #ff0011;
	border-radius: 5px;
	padding: 30px 100px;
	cursor: pointer;
	width: 80%;

	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 50px;
}

.Machinepark-untoggle-motion {
	background-color: white;
	color: #ff0011;
	border: 5px solid #ff0011;
	border-radius: 5px;
	padding: 30px 100px;
	cursor: pointer;

	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 35px;
}

.row2-machinepark {
	display: flex;
}

.greenscreen-foto {
	display: block; /* Remove extra space below image */
	width: 80%; /* Adjust as needed */
	height: auto; /* Maintain aspect ratio */
	margin-bottom: 50px;
}

.Machinepark-blok p {
	width: 80%;

	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
}

.tarievenblok p {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;

}

.tarievenblok h3 {
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: normal;

}

.tarievenblok {
	margin-bottom: 100px;
}

.overlay-text {
    background-color: rgba(255, 0, 0, 0.5); /* Red background with 50% opacity */
    color: white; /* Text color set to white for contrast */
    padding: 5px; /* Optional: Adds padding around the text */
    display: inline-block; /* Ensures the background only covers the text */
}

.overlay-text-medialab {
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translate(-50%, -50%);
	color: white; /* Text color */
	font-size: 24px; /* Adjust as needed */
	font-weight: bold; /* Optional: make text bold */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add shadow for better readability */
	text-align: left; /* Center align text */
	padding: 10px; /* Optional: add padding around text */
	box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
	margin-right: 20px;
	padding-right: 100px;
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 116px;
	background-color: rgba(255, 0, 0, 0.5); /* Red background with 50% opacity */
}


/*contact*/

.overlay-text-black {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(0, 0, 0); /* Text color */
	font-size: 24px; /* Adjust as needed */
	font-weight: bold; /* Optional: make text bold */
	text-align: left; /* Center align text */
	padding: 10px; /* Optional: add padding around text */
	box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
	margin-right: 20px;
	padding-right: 100px;
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 116px;
}
.text-contact p {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 80px;
	padding-top: ;
}

.machinepark-blok h2 {
	margin-left: 70px;
}

.tarievenblok {
	margin-left: 50px;
	margin-right: 50px;
}

.tarievenblok h3 {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: bold;
	font-size: 40px;
	padding-top: ;
	fi
}

/*nieuws en events*/

.Nieuws-events p {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}

.blok-Event1 p {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}
